.amazon-header {
  height: 60px;
  background-color: #131921;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* LEFT */

.amazon-header-left-section {
  width: 180px;
  display: flex;
  align-items: center;
}

.amazon-logo {
  width: 100px;
}

.amazon-mobile-logo {
  display: none;
}

/* MIDDLE */

.amazon-header-middle-section {
  flex: 1;
  max-width: 850px;

  display: flex;
  align-items: center;

  margin: 0 20px;
}

.search-bar {
  flex: 1;
  height: 40px;

  border: none;
  padding-left: 15px;

  font-size: 16px;

  border-radius: 6px 0 0 6px;
}

.search-bar:focus {
  outline: 3px solid #f3a847;
}

.search-button {
  height: 40px;
  width: 50px;

  border: none;
  background-color: #febd69;

  border-radius: 0 6px 6px 0;

  cursor: pointer;

  transition: background 0.2s;
}

.search-button:hover {
  background-color: #f3a847;
}

.search-icon {
  width: 22px;
}

/* RIGHT */

.amazon-header-right-section {
  width: 220px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  color: white;
  text-decoration: none;

  padding: 8px;
  border: 1px solid transparent;

  transition: border 0.15s;
}

.header-link:hover {
  border: 1px solid white;
}

.orders-link {
  display: flex;
  flex-direction: column;
}

.returns-text {
  font-size: 12px;
}

.orders-text {
  font-size: 14px;
  font-weight: 700;
}

.cart-link {
  position: relative;

  display: flex;
  align-items: center;
}

.cart-icon {
  width: 32px;
}

.cart-quantity {
  position: absolute;
  top: 5px;
  left: 22px;

  color: #f08804;
  font-size: 16px;
  font-weight: 700;
}

.cart-text {
  margin-top: 12px;
  font-weight: 700;
}

/* MOBILE */

@media (max-width: 575px) {

  .amazon-logo {
    display: none;
  }

  .amazon-mobile-logo {
    display: block;
    width: 35px;
  }

  .amazon-header-middle-section {
    margin: 0 10px;
  }

  .amazon-header-right-section {
    width: auto;
    gap: 10px;
  }

  .orders-link {
    display: none;
  }
}