.main {
  max-width: 1150px;
  padding: 0 24px;

  margin-top: 110px;
  margin-bottom: 80px;

  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-weight: 700;
  font-size: 26px;

  margin-bottom: 16px;

  color: #0f1111;
}

.checkout-grid {
  display: grid;
  /* Here, 1fr means the first column will take
     up the remaining space in the grid. */
  grid-template-columns: minmax(0, 1fr) 320px;
  column-gap: 18px;

  /* Use align-items: start; to prevent the elements
     in the grid from stretching vertically. */
  align-items: start;
}

@media (max-width: 1000px) {
  .main {
    max-width: 500px;
  }

  .checkout-grid {
    grid-template-columns: 1fr;
  }
}

.cart-item-container,
.payment-summary {
  background: white;

  border: 1px solid #e7e7e7;
  border-radius: 6px;

  padding: 20px;

  box-shadow: 0 1px 2px rgba(15, 17, 17, 0.08);
}

.cart-item-container {
  margin-bottom: 12px;
}

.payment-summary {
  padding-bottom: 5px;
}

@media (max-width: 1000px) {
  .payment-summary {
    /* grid-row: 1 means this element will be placed into row
      1 in the grid. (Normally, the row that an element is
      placed in is determined by the order of the elements in
      the HTML. grid-row overrides this default ordering). */
    grid-row: 1;
    margin-bottom: 12px;
  }
}

.delivery-date {
  color: #067d62;

  font-weight: 700;
  font-size: 18px;

  margin-top: 6px;
  margin-bottom: 18px;
}

.cart-item-details-grid {
  display: grid;
  /* 100px 1fr 1fr; means the 2nd and 3rd column will
     take up half the remaining space in the grid
     (they will divide up the remaining space evenly). */
  grid-template-columns: 100px 1fr 1fr;
  column-gap: 25px;
}

@media (max-width: 1000px) {
  .cart-item-details-grid {
    grid-template-columns: 100px 1fr;
    row-gap: 30px;
  }
}

.product-image {
  max-width: 100%;
  max-height: 120px;

  object-fit: contain;

  display: block;

  margin: 0 auto;
}

.product-name {
  font-weight: 600;
  font-size: 15px;

  margin-bottom: 6px;

  color: #0f1111;
}

.product-price {
  color: #b12704;

  font-weight: 700;
  font-size: 14px;

  margin-bottom: 6px;
}

.product-quantity .link-primary {
  margin-left: 3px;
}

@media (max-width: 1000px) {
  .delivery-options {
    /* grid-column: 1 means this element will be placed
       in column 1 in the grid. (Normally, the column that
       an element is placed in is determined by the order
       of the elements in the HTML. grid-column overrides
       this default ordering).
       
       / span 2 means this element will take up 2 columns
       in the grid (Normally, each element takes up 1
       column in the grid). */
    grid-column: 1 / span 2;
  }
}

.delivery-options-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.delivery-option {
  display: grid;
  grid-template-columns: 24px 1fr;

  margin-bottom: 10px;

  cursor: pointer;

  padding: 8px;

  border-radius: 6px;

  transition: background 0.15s;
}

.delivery-option:hover {
  background: #f7fafa;
}

.delivery-option-input {
  margin-left: 0px;
  cursor: pointer;
}

.delivery-option-date {
  color: rgb(0, 118, 0);
  font-weight: 500;
  margin-bottom: 3px;
}

.delivery-option-price {
  color: rgb(120, 120, 120);
  font-size: 15px;
}

.payment-summary-title {
  font-size: 20px;
  font-weight: 700;

  margin-bottom: 14px;
}

.payment-summary-row {
  display: grid;
  grid-template-columns: 1fr auto;

  font-size: 14px;

  margin-bottom: 10px;

  color: #0f1111;
}

.payment-summary-money {
  text-align: right;
}

.subtotal-row .payment-summary-money {
  border-top: 1px solid rgb(222, 222, 222);
}

.subtotal-row div {
  padding-top: 9px;
}

.total-row {
  color: #b12704;

  font-weight: 700;
  font-size: 18px;

  border-top: 1px solid #e7e7e7;

  padding-top: 14px;
  margin-top: 10px;
}

.place-order-button {
  width: 100%;

  padding: 12px;

  border-radius: 20px;

  font-size: 14px;
  font-weight: 500;

  margin-top: 12px;
}


.quantity-input {
  width: 30px;
  display: none;
}

.save-quantity-link {
  display: none;
}

.is-editing-quantity .quantity-input {
  display: initial;
}

.is-editing-quantity .save-quantity-link {
  display: initial;  
}

.is-editing-quantity .quantity-label {
  display: none;
}

.is-editing-quantity .update-quantity-link {
  display: none;
}